
$myfont : "Poppins", serif;

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $myfont;
}

html{
    width: 100%;
}

body{
    width:100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    // align-items: flex-start;
    gap: 1.5rem;
    // background-color: blue;
}

.frame {
    position: relative;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    min-width:500px;
    min-height:60vh;
    border: 1px soild;
    background-color: black;
    overflow: hidden;

    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    
    img{
        // position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 710px;
        min-height:400px;
        display: block;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        transition: all 3s ease;
        
    }
}

.landing-title{
    font-size: 4rem;
}

.subtitle{
    font-size: 3rem;
}

@media screen {
    
}

h1 {
    padding: 2rem;
    top: 25%;
    left: 5%;
    position: absolute;
    color: white;
}

h2{
    padding: 2rem;
    top: 40%;
    left: 5%;
    position: absolute;
    color: white;
}

// .placeholder{
//     display: block;
//     width: 100%;
//     height: 100%;
//     margin: auto;
// }

.frame::before, .placeholder::before {
    content:'';
    inset:0;
    // position: absolute;
    z-index: 0;
    animation: pulse 1.5s infinite;
    // background-color: white;

}

.frame > img.fall{
    transform: translateY(20px);
}

@keyframes pulse {
    0%{
        background-color: rgba(255, 255, 255, 0);
    }
    50%{
        background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.frame.loaded::before, .placeholder.loaded::before{
    // content: none;
    background-color: none;
    animation: none;
}

.frame.loaded > img, .placeholder.loaded > img{
    opacity: 1;
    transition: all 3s ease;   
}

.frame > img, .frame > img{
    opacity: 0;
}

.img_section{
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4rem;
    margin: auto;
    min-width: 300px;
    width: 90%;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.9);
    .placeholder{
        box-shadow: 4px 4px 12px rgba(0,0,0,0.9);
        margin: auto;
        min-width: 300px;
        width: 25%;
        height: 300px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            scale:1;
            &:hover{
                cursor: pointer;
                transform: scale(1.3);
                transition: transform 1s ease-in-out;
            }
        }
        
    }
}

.modal{
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    min-width: 200px;
    min-height:200px;
    // width: 500px;
    border: 2px solid white;
    margin: auto;
    z-index: 50;
    position: fixed;
    // top:5%;
    // left: 25%;
}

.about_container{
    // color: white;
    // background-color:rgb(216,201,222);
    background-color: rgba(0,0,0,0.8);
    // background-image: url('./imgs/background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    // padding: 2rem;
    height: 70vh;

    .about{
        // position: absolute;
        // transform: translate(45.5%, 50%);
        width: auto;
        margin: 7rem auto;
        padding: 10px;
        color: white;
        text-overflow: ellipsis;
    }

    .text {
        background-color: transparent;//rgb(219,200,222); //rgba(0,0,0,1);//none;//white;//transparent;
        color: transparent;
        font-size: 7vw; 
        font-weight: 400;
        margin: auto;
        padding: 10px;
        width: auto;
        text-align: center;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -150%);
        mix-blend-mode: screen;
        -webkit-text-stroke: 1px white;
      }
}

.contact_container{
    color: white;
    background-color: black;
    padding: 2rem;
    height: 70vh;

    .contact{
        margin-top: 5rem;
        color: white;
    }
}

.mainHeader{
    display: flex;
    position: fixed;
    left: 0;
    top: 10;
    background-color: white;
    color: black;
    z-index: 20;
    width:100%;
    padding: 0.5rem;
    // border: 1px solid;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    .primary_nav{
        display:flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 1rem;
        list-style-type: none;
        // margin: auto;
        li{
            a{
                text-decoration: none;
            }
        }
    }
}

.parallax {
    /* The image used */
    background-image: url('./imgs/next1.jpg');
    width: 100%;
    /* Full height */
    height: 90vh;
    position: relative;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before{
        content: '';
        position: absolute;
        width:100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 10;
    }
  }

  .about_parallax {
    /* The image used */
    background-image: url('./imgs/next2.jpg');
    width: 100%;
    /* Full height */
    height: 90vh;
    position: relative;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before{
        content: '';
        position: absolute;
        width:100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 10;
    }
  }

  .iframe {
    max-height: 100vh;
  }

  