*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

html {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 1.5rem;
}

.frame {
  position: relative;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  min-width: 500px;
  min-height: 60vh;
  border: 1px soild;
  background-color: black;
  overflow: hidden;
}
.frame img {
  top: 0;
  left: 0;
  width: 100%;
  height: 710px;
  min-height: 400px;
  display: block;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 3s ease;
}

.landing-title {
  font-size: 6vw;
}

.sub-title {
  font-size: 3vw;
}

h1 {
  padding: 2rem;
  top: 25%;
  left: 5%;
  position: absolute;
  color: white;
}

h2 {
  padding: 2rem;
  top: 40%;
  left: 5%;
  position: absolute;
  color: white;
}

.frame::before, .placeholder::before {
  content: "";
  inset: 0;
  z-index: 0;
  animation: pulse 1.5s infinite;
}

.frame > img.fall {
  transform: translateY(20px);
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
.frame.loaded::before, .placeholder.loaded::before {
  background-color: none;
  animation: none;
}

.frame.loaded > img, .placeholder.loaded > img {
  opacity: 1;
  transition: all 3s ease;
}

.frame > img, .frame > img {
  opacity: 0;
}

.img_section {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4rem;
  margin: auto;
  min-width: 300px;
  width: 90%;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.9);
}
.img_section .placeholder {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.9);
  margin: auto;
  min-width: 300px;
  width: 25%;
  height: 300px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.img_section .placeholder img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  scale: 1;
}
.img_section .placeholder img:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 1s ease-in-out;
}

.modal {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 200px;
  min-height: 200px;
  border: 2px solid white;
  margin: auto;
  z-index: 50;
  position: fixed;
}

.about_container {
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.about_container .about {
  width: auto;
  margin: 7rem auto;
  font-size: 4vw;
  padding: 10px;
  color: white;
  text-overflow: ellipsis;
}
.about_container .text {
  background-color: transparent;
  color: transparent;
  font-size: 7vw;
  font-weight: 400;
  margin: auto;
  padding: 10px;
  width: auto;
  text-align: center;
  mix-blend-mode: screen;
  -webkit-text-stroke: 1px white;
}

.contact_container {
  color: white;
  background-color: black;
  padding: 2rem;
  height: 70vh;
}
.contact_container .contact {
  margin-top: 5rem;
  color: white;
}

.mainHeader {
  display: flex;
  position: fixed;
  left: 0;
  top: 10;
  background-color: white;
  color: black;
  z-index: 20;
  width: 100%;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.mainHeader .primary_nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem;
  list-style-type: none;
}
.mainHeader .primary_nav li a {
  text-decoration: none;
}

.parallax {
  /* The image used */
  background-image: url("./imgs/next1.jpg");
  width: 100%;
  /* Full height */
  height: 90vh;
  position: relative;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.about_parallax {
  /* The image used */
  background-image: url("./imgs/next2.jpg");
  width: 100%;
  /* Full height */
  height: 90vh;
  position: relative;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about_parallax::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.iframe {
  max-height: 100vh;
}

.slide_container {
  position: relative;
  overflow: hidden; /* Prevent slides from showing outside the container */
  width: 200px;
  height: 200px;
  margin: auto;
  border: 2px solid;
}
.slide_container .active {
  transform: translateX(0);
  z-index: 10; /* Ensure the active slide appears above others */
}

.contact_slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 4vw;
  text-align: center;
  color: white;
  background-color: blue;
  transform: translateX(100%); /* Start all slides off-screen */
  transition: transform 0.5s ease; /* Smooth sliding animation */
}

.activateBtn {
  padding: 1rem;
  font-size: 3vw;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

.obj {
  width: 50px;
  height: 50px;
  background-color: blue;
}

.animate, .endAnimate {
  padding: 2px;
  margin-bottom: 3rem;
  width: -moz-max-content;
  width: max-content;
}/*# sourceMappingURL=style.css.map */